<h2>This is a list</h2>
<% if @Articals.any? %>
<h3>Number of Items : <%= @Articals.count %> </h3>
   <% @Articals.list.each do |f| %>

      <%= f.artical_number %> <br>
      <%= f.artical_size %> <br>
      <%= f.artical_gender %> <br>
      <hr>
  
   <% end %>
 <% else %>
 <div class="row">
    <h3>Add Items To This Order</h3>
 </div>

 <% end %>
