<div class="row">

  <div class="col-md-6 col-md-offset-3 block-right">
      <%= button_to 'New Order', home_index_path, method: :create, class: 'btn btn-lg btn-block btn-success' %>
  </div>

</div>

<div class="row">
  <% @order.each do |order| %>
    <div class="well">
      <div class="col-md-4">
        <strong>Order :</strong><%= order.order_numbers %>
      </div>
      <div class="col-md-4 col-md-offset-4 text-right">
        <a href="#">Edit</a> |
        <%= link_to 'Delete',  { action: :destroy, id: order.id },
       method: :delete,
       data: { confirm: "Delete this news?" }
       %>
      </div>

    </div>

  <%end%>
</div>
